* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #e7ffe7;
}

/* Header */
.header {
    background: #06a64f;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.header nav a.active,
.header nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    background: url('https://images.unsplash.com/photo-1469474968028-56623f02e42e')
        no-repeat center/cover;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background: rgba(0, 0, 0, 0.55);
    padding: 20px 40px;
    border-radius: 12px;
    color: white;
    text-align: center;
}

/* About Section */
.about-content {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    width: 330px;
    background: white;
    padding: 20px;
    border-left: 5px solid #06c25f;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.card h3 {
    color: #05632f;
    margin-bottom: 10px;

justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
}

.team-card {
    width: 170px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.team-card img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-card h4 {
    color: #06a64f;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #06a64f;
    color: white;
    margin-top: 30px;
}
